@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
* {
    box-sizing: border-box;
    font-family: Krona One, sans-serif;
    

}

body {

        background:#90d8d8;


}
.navbar{
    width: 100%;
    z-index: 1020;
}
#Content{
    width:90%;
    margin: 0 auto;
    background:#90d8d8;
}

svg {
    width: 15%;
    margin: 20px;
}

svg:hover{
    width: 16%;
    border: 1px solid rgb(218, 216, 216);
    border-radius: 10%;
}

.projectsList{
  width: 100%;
   display:flex;
}
.projectsSpot{
    width: 100%;
    margin: auto;
    display:inline;
        display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}


.singleProject {
    margin: 10px;
    width: 30%;
    border: 2px solid rgb(193, 193, 193);
    padding: 5px;
    height: 20%;
}
.singleProject img{
    width: 100%; 
}
.singleProject:hover{
    box-shadow: 3px 3px 3px rgb(154, 154, 154);
}

.resume-section{
   height: 100vh; 
   

}

.icons, #about, #projects, #about, .footer {
    padding-top: 5%;
}

@media (max-width: 575.98px) {
    .singleProject {
    margin: 10px;
    width: 90%;
    border: 2px solid rgb(193, 193, 193);
    padding: 5px;
    height: 20%;
}
.singleProject img{
    width: 100%; 
}
.resume-section{
   height: fit-content; 

}
 }

 @media (max-width: 600px) {
    .singleProject {
    margin: 10px;
    width: 90%;
    border: 2px solid rgb(193, 193, 193);
    padding: 5px;
    height: 20%;
}
.singleProject img{
    width: 100%; 
}
.resume-section{
   height: fit-content; 

}
  }
